@model mlmStudio.Models.Invoice

@{
    ViewBag.Title = "Details";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
<section class="content-header">
    <h1>
        @ViewBag.Title
        <small>Details</small>
    </h1>
</section>
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">Detail of Invoice</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div class="widget-sec">
                        <div class="streaming-table">
                            <table class="table table-striped table-bordered">

                                <tr>
                                    <td>BillDate</td>
                                    <td>@Html.DisplayFor(model => model.BillDate)</td>
                                </tr>
                                <tr>
                                    <td>DueDate</td>
                                    <td>@Html.DisplayFor(model => model.DueDate)</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>@Html.DisplayFor(model => model.Status)</td>
                                </tr>
                                <tr>
                                    <td>LastEmailed</td>
                                    <td>@Html.DisplayFor(model => model.LastEmailed)</td>
                                </tr>
                                <tr>
                                    <td>OtherInvoiceCode</td>
                                    <td>@Html.DisplayFor(model => model.OtherInvoiceCode)</td>
                                </tr>
                                <tr>
                                    <td>ClientId</td>
                                    <td>@Html.DisplayFor(model => model.ClientId)</td>
                                </tr>
                                <tr>
                                    <td>CreatedBy</td>
                                    <td>@Html.DisplayFor(model => model.CreatedBy)</td>
                                </tr>

 
                            </table>
                            <div class="box-footer">
                                @Ajax.ModalDialogActionLink("Edit", "Edit/" + Model.Id, "Edit", "btn btn-primary") 
                                 
                                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



