@model mlmStudio.Models.User

@{
    ViewBag.Title = "Details";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
<section class="content-header">
    <h1>
        @ViewBag.Title
        <small>Details</small>
    </h1>
</section>
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">Detail of User</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div class="widget-sec">
                        <div class="streaming-table">
                            <table class="table table-striped table-bordered">

                                <tr>
                                    <td>Username</td>
                                    <td>@Html.DisplayFor(model => model.Username)</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>@Html.DisplayFor(model => model.Email)</td>
                                </tr>
                                <tr>
                                    <td>Password</td>
                                    <td>@Html.DisplayFor(model => model.Password)</td>
                                </tr>
                                <tr>
                                    <td>ParentId</td>
                                    <td>@Html.DisplayFor(model => model.ParentId)</td>
                                </tr>
                                <tr>
                                    <td>SponserId</td>
                                    <td>@Html.DisplayFor(model => model.SponserId)</td>
                                </tr>
                                <tr>
                                    <td>LegId</td>
                                    <td>@Html.DisplayFor(model => model.LegId)</td>
                                </tr>
                                <tr>
                                    <td>MemberShipLevelId</td>
                                    <td>@Html.DisplayFor(model => model.MemberShipLevelId)</td>
                                </tr>
                                @*<tr class="hidden">
                                    <td>RegisterPin</td>
                                    <td>@Html.DisplayFor(model => model.RegisterPin)</td>
                                </tr>*@

 
                            </table>
                            <div class="box-footer">
                                @Ajax.ModalDialogActionLink("Edit", "Edit/" + Model.Id, "Edit", "btn btn-primary") 
                                 
                                @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



