@model mlmStudio.Models.User
@{
    ViewBag.Title = "Advance Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section ScriptsOrCss
{
    <script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Content/DataTable/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <link href="~/Content/DataTable/plugins/dataTables.bootstrap.css" rel="stylesheet" />

    <script src="~/Content/ckEditor/ckeditor.js"></script>
    <link href="~/Content/ckEditor/samples/sample.css" rel="stylesheet" />
    <script src="~/Content/tabs/Jquery-ui.js"></script>
    <link href="~/Content/tabs/JqueryUi.css" rel="stylesheet" />
    <script>
        $(function () {
            //var tabs = $("#tabs").tabs();
            //tabs.find(".ui-tabs-nav").sortable({
            //    axis: "x",
            //    stop: function () {
            //        tabs.tabs("refresh");
            //    }
            //});

            $("#tabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
            $("#tabs li").removeClass("ui-corner-top").addClass("ui-corner-left");

            $("#dialog").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });
            $("#opener").click(function () {
                $("#dialog").dialog("open");
            });

        });
    </script>

    <style>
        table {
            width: 100% !important;
        }

        .ui-tabs-vertical {
            width: 100%;
        }

            .ui-tabs-vertical .ui-tabs-nav {
                padding: .2em .1em .2em .2em;
                float: left;
                width: 19%;
            }

                .ui-tabs-vertical .ui-tabs-nav li {
                    clear: left;
                    width: 100%;
                    border-bottom-width: 1px !important;
                    border-right-width: 0 !important;
                    margin: 0 -1px .2em 0;
                }

                    .ui-tabs-vertical .ui-tabs-nav li a {
                        display: block;
                    }

                    .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
                        padding-bottom: 0;
                        padding-right: .1em;
                        border-right-width: 1px;
                    }

            .ui-tabs-vertical .ui-tabs-panel {
                padding: 1em;
                float: right;
                width: 80%;
            }
    </style>
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
</section>
@*<script type="text/javascript">
    $(function () {
        $('select').searchableOptionList({
            maxHeight: '250px'
        });
         
        $.ajax({
            type: "POST",
            url: "@Url.Content("~/User/BarChart")",
            data: { 'Id': '@ViewBag.IsWorking' },
            dataType: "json",
            success: function (result) {
                var Bar = new Morris.Bar({
                    element: 'alluserinfochart',
                    resize: true,
                    data: result,
                    xkey: 'label',
                    ykeys: ['value'],
                    labels: ['Total Count '],
                    barColors: function (row, series, type) {

                        var red = Math.ceil(255 * row.y / this.ymax);
                        return 'rgb(' + red + ',0,0)';

                    } ,
                    hideHover: 'auto'
                });

                var Donut = new Morris.Donut({
                    element: 'allinfodonut',
                    resize: true,
                    data: result,
                    xkey: 'label',
                    ykeys: ['value'],
                    labels: ['Total Count '],
                    colors: ["#00a65a", "#00e765", "#3c8dbc", "#b80dbc", "#f39c12", "#aacdbc", "#298e73", "#3e5b53"],
                    hideHover: 'auto'
                });
                
            }
        });

         

    });
</script>*@

@Html.StarkAjaxFormSubmiter("frmUser", "tbUser", true, "Action Successfully Executed")
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">

        @*<div class="col-md-6">
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Graphical Info</h3>
                    <div class="box-tools pull-right">
                        <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                        <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body " >
                    <div id="alluserinfochart" style="height:200px;"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Info</h3>
                    <div class="box-tools pull-right">
                        <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                        <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body ">
                    <div id="allinfodonut" style="height:200px;"></div>
                     
                </div>
            </div>
        </div>*@

        <div class="col-xs-12">
            <div class="box box-solid box-primary">

                <div id="tabs">
                    @*<ul>
                        <li><a href="#EditThis">Edit</a></li>
                        <li><a href="#RoleUser">Role User</a></li>
                        <li><a href="#MenuPermission">Menu Permission</a></li>
                        <li><a href="#UserPersonalInfo">User Personal Info</a></li>
                        <li><a href="#UserContactInfo">User Contact Info</a></li>
                        <li><a href="#UserBankInfo">User Bank Info</a></li>
                        <li><a href="#Invoice">Invoice</a></li>
                        <li><a href="#RewardUser">Reward User</a></li>
                        <li><a href="#ePinRequest">e Pin Request</a></li>
                        <li><a href="#DonationRequest">Donation Request</a></li>
                        <li><a href="#LedgerAccount">Ledger Account</a></li>

                    </ul>*@

                    <div id="EditThis" style="height:700px;overflow:auto;">
                        @using (Html.BeginForm("MultiViewIndex", "User", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmUser" }))
                        {
                            @Html.AntiForgeryToken()

                            if (ViewBag.IsWorking > 0)
                            {
                                <section class="content">
                                    <!-- Small boxes (Stat box) -->
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="box box-solid box-primary">
                                                <div class="box-header">
                                                    <h3 class="box-title">Edit User Info</h3>
                                                </div><!-- /.box-header -->
                                                <!-- form start -->
                                                <div role="form">
                                                    <div class="box-body">
                                                        <div class="alert alert-success alert-dismissable" id="dvMsg" style="display:@(TempData["Display"]==null ? "none" : "")">
                                                            <i class="fa fa-apple"></i>
                                                            <b> Update Successfully. </b>
                                                        </div>


                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Username, new { @class = "" })
                                                            @Html.EditorFor(model => model.Username) @Html.ValidationMessageFor(model => model.Username)
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Password, new { @class = "" })
                                                            @Html.EditorFor(model => model.Password) @Html.ValidationMessageFor(model => model.Password)
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ParentId, new { @class = "" })
                                                            @Html.DropDownList("ParentId", " -Select- ")
                                                            @Html.ValidationMessageFor(model => model.ParentId)
                                                            @Html.StarkDropDownAjaxLink("/User/Create", "AddMore", "")
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.LegId, new { @class = "" })
                                                            @Html.DropDownList("LegId", " -Select- ")
                                                            @Html.ValidationMessageFor(model => model.LegId)
                                                            @Html.StarkDropDownAjaxLink("/Leg/Create", "AddMore", "")
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.MemberShipLevelId, new { @class = "" })
                                                            @Html.DropDownList("MemberShipLevelId", " -Select- ")
                                                            @Html.ValidationMessageFor(model => model.MemberShipLevelId)
                                                            @Html.StarkDropDownAjaxLink("/MemberShipLevel/Create", "AddMore", "")
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.RegisterPin, new { @class = "" })
                                                            @Html.EditorFor(model => model.RegisterPin) @Html.ValidationMessageFor(model => model.RegisterPin)
                                                        </div>



                                                    </div><!-- /.box-body -->
                                                    <div class="box-footer">
                                                        @Html.StarkInputButtion("Save", "submit", "btn btn-primary", "")
                                                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            }
                        }
                    </div>

                    @*<div id="RoleUser" style="overflow:auto !important;">
                        <div class="box box-solid box-primary">
                            <div class="box-body">
                                @Html.StarkAjaxLink("Create New", "/RoleUser/Create", "StarkRoleUser")
                            </div>
                        </div>
                        <div class="box box-solid box-primary">
                            <div class="box-body">
                                <table id="tbRoleUser" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th> S.No </th>
                                            <th> Role </th>
                                            <th> User </th>
                                        </tr>
                                    </thead>
                                    <tbody> </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="MenuPermission" style="overflow:auto !important;">
                        <div class="box box-solid box-primary">
                            <div class="box-body">
                                @Html.StarkAjaxLink("Create New", "/MenuPermission/Create", "StarkMenuPermission")
                            </div>
                        </div>
                        <div class="box box-solid box-primary">
                            <div class="box-body">
                                <table id="tbMenuPermission" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th> S.No </th>
                                            <th> Menu </th>
                                            <th> Role </th>
                                            <th> User </th>
                                            <th> Sort Order </th>
                                            <th> Is Nav Bar </th>
                                            <th> Is Create </th>
                                            <th> Is Read </th>
                                            <th> Is Update </th>
                                            <th> Is Delete </th>
                                        </tr>
                                    </thead>
                                    <tbody> </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="UserPersonalInfo" style="overflow:auto !important;">
                        <div class="box box-solid box-primary">
                            <div class="box-body">
                                @Html.StarkAjaxLink("Create New", "/UserPersonalInfo/Create", "StarkUserPersonalInfo")
                            </div>
                        </div>
                        <div class="box box-solid box-primary">
                            <div class="box-body">
                                <table id="tbUserPersonalInfo" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th> S.No </th>
                                            <th> First Name </th>
                                            <th> Last Name </th>
                                            <th> Gender </th>
                                            <th> About </th>
                                            <th> Profile Image </th>
                                            <th> Date Join </th>
                                            <th> User </th>
                                            <th> Middle Name </th>
                                            <th> Email </th>
                                            <th> Father And Spouse Name </th>
                                            <th> D O B </th>
                                            <th> Mother Name </th>
                                            <th> Nomine Name </th>
                                            <th> City </th>
                                            <th> Zip Code </th>
                                            <th> Pan Number </th>
                                            <th> Education Detail </th>
                                            <th> Last Employee Firm </th>
                                            <th> Last Employee Year </th>
                                            <th> Last Employee Anual Income </th>
                                            <th> Is Active </th>
                                        </tr>
                                    </thead>
                                    <tbody> </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="UserContactInfo" style="overflow:auto !important;">
                        <div class="box box-solid box-primary">
                            <div class="box-body">
                                @Html.StarkAjaxLink("Create New", "/UserContactInfo/Create", "StarkUserContactInfo")
                            </div>
                        </div>
                        <div class="box box-solid box-primary">
                            <div class="box-body">
                                <table id="tbUserContactInfo" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th> S.No </th>
                                            <th> Contact Type </th>
                                            <th> Contact Detail </th>
                                            <th> User </th>
                                            <th> Is Active </th>
                                        </tr>
                                    </thead>
                                    <tbody> </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="UserBankInfo" style="overflow:auto !important;">
                        <div class="box box-solid box-primary">
                            <div class="box-body">
                                @Html.StarkAjaxLink("Create New", "/UserBankInfo/Create", "StarkUserBankInfo")
                            </div>
                        </div>
                        <div class="box box-solid box-primary">
                            <div class="box-body">
                                <table id="tbUserBankInfo" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th> S.No </th>
                                            <th> Account Holder Name </th>
                                            <th> User </th>
                                            <th> Bank Name </th>
                                            <th> Account Number </th>
                                            <th> Branch </th>
                                            <th> I F C I_ Code </th>
                                            <th> Is Active </th>
                                        </tr>
                                    </thead>
                                    <tbody> </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="Invoice" style="overflow:auto !important;">
                        <div class="box box-solid box-primary">
                            <div class="box-body">
                                @Html.StarkAjaxLink("Create New", "/Invoice/Create", "StarkInvoice")
                            </div>
                        </div>
                        <div class="box box-solid box-primary">
                            <div class="box-body">
                                <table id="tbInvoice" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th> S.No </th>
                                            <th> Bill Date </th>
                                            <th> Due Date </th>
                                            <th> Status </th>
                                            <th> Last Emailed </th>
                                            <th> Other Invoice Code </th>
                                            <th> Client </th>
                                            <th> Created By </th>
                                        </tr>
                                    </thead>
                                    <tbody> </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="RewardUser" style="overflow:auto !important;">
                        <div class="box box-solid box-primary">
                            <div class="box-body">
                                @Html.StarkAjaxLink("Create New", "/RewardUser/Create", "StarkRewardUser")
                            </div>
                        </div>
                        <div class="box box-solid box-primary">
                            <div class="box-body">
                                <table id="tbRewardUser" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th> S.No </th>
                                            <th> User </th>
                                            <th> Reward </th>
                                            <th> Qty </th>
                                        </tr>
                                    </thead>
                                    <tbody> </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="ePinRequest" style="overflow:auto !important;">
                        <div class="box box-solid box-primary">
                            <div class="box-body">
                                @Html.StarkAjaxLink("Create New", "/ePinRequest/Create", "StarkePinRequest")
                            </div>
                        </div>
                        <div class="box box-solid box-primary">
                            <div class="box-body">
                                <table id="tbePinRequest" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th> S.No </th>
                                            <th> Title </th>
                                            <th> Qty </th>
                                            <th> From User </th>
                                            <th> Date Added </th>
                                            <th> Is Approved </th>
                                            <th> Approved By </th>
                                        </tr>
                                    </thead>
                                    <tbody> </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="DonationRequest" style="overflow:auto !important;">
                        <div class="box box-solid box-primary">
                            <div class="box-body">
                                @Html.StarkAjaxLink("Create New", "/DonationRequest/Create", "StarkDonationRequest")
                            </div>
                        </div>
                        <div class="box box-solid box-primary">
                            <div class="box-body">
                                <table id="tbDonationRequest" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th> S.No </th>
                                            <th> User </th>
                                            <th> Amount </th>
                                            <th> Date Added </th>
                                            <th> Required Till </th>
                                            <th> Is Active </th>
                                            <th> Request Note </th>
                                        </tr>
                                    </thead>
                                    <tbody> </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="LedgerAccount" style="overflow:auto !important;">
                        <div class="box box-solid box-primary">
                            <div class="box-body">
                                @Html.StarkAjaxLink("Create New", "/LedgerAccount/Create", "StarkLedgerAccount")
                            </div>
                        </div>
                        <div class="box box-solid box-primary">
                            <div class="box-body">
                                <table id="tbLedgerAccount" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th> S.No </th>
                                            <th> Title </th>
                                            <th> Ledger Account Type </th>
                                            <th> Currency </th>
                                            <th> Account Code </th>
                                            <th> Account Color </th>
                                            <th> Parent </th>
                                            <th> User </th>
                                        </tr>
                                    </thead>
                                    <tbody> </tbody>
                                </table>
                            </div>
                        </div>
                    </div>*@

                </div>



            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    $(document).ready(function () {
        var oTableRoleUser = "";
        var ControlerNameRoleUser = "@Url.Content("~/RoleUser")";
        // debugger;
        oTableRoleUser = $("#tbRoleUser").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/User/RoleUserGetGrid/" + ViewBag.IsWorking)",
            "aoColumns": [

            {
                "mRender": function (oObj, type, row) {
                    var buttons = "<a class=\"btn btn-social-icon btn-bitbucket\" href=" + ControlerNameRoleUser + "/MultiViewIndex/" + row[0] + "><i class=\"fa fa-edit\"></i></a>"
                    buttons += "<a class=\"btn btn-social-icon btn-dropbox\" href=" + ControlerNameRoleUser + "/Details/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"openModalDialog('SkDetails', 'Details')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-info\"></i></a>";
                    buttons += "<a class=\"btn btn-social-icon btn-google-plus\" href=" + ControlerNameRoleUser + "/Delete/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Delete')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\"><i class=\"fa fa-bitbucket\"></i></a>";

                    return buttons;
                }

            }, {}, {}, {}
            ]

        });

    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        var oTableMenuPermission = "";
        var ControlerNameMenuPermission = "@Url.Content("~/MenuPermission")";
        // debugger;
        oTableMenuPermission = $("#tbMenuPermission").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/User/MenuPermissionGetGrid/" + ViewBag.IsWorking)",
            "aoColumns": [

            {
                "mRender": function (oObj, type, row) {
                    var buttons = "<a class=\"btn btn-social-icon btn-bitbucket\" href=" + ControlerNameMenuPermission + "/MultiViewIndex/" + row[0] + "><i class=\"fa fa-edit\"></i></a>"
                    buttons += "<a class=\"btn btn-social-icon btn-dropbox\" href=" + ControlerNameMenuPermission + "/Details/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"openModalDialog('SkDetails', 'Details')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-info\"></i></a>";
                    buttons += "<a class=\"btn btn-social-icon btn-google-plus\" href=" + ControlerNameMenuPermission + "/Delete/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Delete')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\"><i class=\"fa fa-bitbucket\"></i></a>";

                    return buttons;
                }

            }, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}
            ]

        });

    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        var oTableUserPersonalInfo = "";
        var ControlerNameUserPersonalInfo = "@Url.Content("~/UserPersonalInfo")";
        // debugger;
        oTableUserPersonalInfo = $("#tbUserPersonalInfo").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/User/UserPersonalInfoGetGrid/" + ViewBag.IsWorking)",
            "aoColumns": [

            {
                "mRender": function (oObj, type, row) {
                    var buttons = "<a class=\"btn btn-social-icon btn-bitbucket\" href=" + ControlerNameUserPersonalInfo + "/MultiViewIndex/" + row[0] + "><i class=\"fa fa-edit\"></i></a>"
                    buttons += "<a class=\"btn btn-social-icon btn-dropbox\" href=" + ControlerNameUserPersonalInfo + "/Details/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"openModalDialog('SkDetails', 'Details')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-info\"></i></a>";
                    buttons += "<a class=\"btn btn-social-icon btn-google-plus\" href=" + ControlerNameUserPersonalInfo + "/Delete/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Delete')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\"><i class=\"fa fa-bitbucket\"></i></a>";

                    return buttons;
                }

            }, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}
            ]

        });

    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        var oTableUserContactInfo = "";
        var ControlerNameUserContactInfo = "@Url.Content("~/UserContactInfo")";
        // debugger;
        oTableUserContactInfo = $("#tbUserContactInfo").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/User/UserContactInfoGetGrid/" + ViewBag.IsWorking)",
            "aoColumns": [

            {
                "mRender": function (oObj, type, row) {
                    var buttons = "<a class=\"btn btn-social-icon btn-bitbucket\" href=" + ControlerNameUserContactInfo + "/MultiViewIndex/" + row[0] + "><i class=\"fa fa-edit\"></i></a>"
                    buttons += "<a class=\"btn btn-social-icon btn-dropbox\" href=" + ControlerNameUserContactInfo + "/Details/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"openModalDialog('SkDetails', 'Details')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-info\"></i></a>";
                    buttons += "<a class=\"btn btn-social-icon btn-google-plus\" href=" + ControlerNameUserContactInfo + "/Delete/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Delete')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\"><i class=\"fa fa-bitbucket\"></i></a>";

                    return buttons;
                }

            }, {}, {}, {}, {}, {}
            ]

        });

    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        var oTableUserBankInfo = "";
        var ControlerNameUserBankInfo = "@Url.Content("~/UserBankInfo")";
        // debugger;
        oTableUserBankInfo = $("#tbUserBankInfo").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/User/UserBankInfoGetGrid/" + ViewBag.IsWorking)",
            "aoColumns": [

            {
                "mRender": function (oObj, type, row) {
                    var buttons = "<a class=\"btn btn-social-icon btn-bitbucket\" href=" + ControlerNameUserBankInfo + "/MultiViewIndex/" + row[0] + "><i class=\"fa fa-edit\"></i></a>"
                    buttons += "<a class=\"btn btn-social-icon btn-dropbox\" href=" + ControlerNameUserBankInfo + "/Details/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"openModalDialog('SkDetails', 'Details')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-info\"></i></a>";
                    buttons += "<a class=\"btn btn-social-icon btn-google-plus\" href=" + ControlerNameUserBankInfo + "/Delete/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Delete')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\"><i class=\"fa fa-bitbucket\"></i></a>";

                    return buttons;
                }

            }, {}, {}, {}, {}, {}, {}, {}, {}
            ]

        });

    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        var oTableInvoice = "";
        var ControlerNameInvoice = "@Url.Content("~/Invoice")";
        // debugger;
        oTableInvoice = $("#tbInvoice").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/User/InvoiceGetGrid/" + ViewBag.IsWorking)",
            "aoColumns": [

            {
                "mRender": function (oObj, type, row) {
                    var buttons = "<a class=\"btn btn-social-icon btn-bitbucket\" href=" + ControlerNameInvoice + "/MultiViewIndex/" + row[0] + "><i class=\"fa fa-edit\"></i></a>"
                    buttons += "<a class=\"btn btn-social-icon btn-dropbox\" href=" + ControlerNameInvoice + "/Details/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"openModalDialog('SkDetails', 'Details')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-info\"></i></a>";
                    buttons += "<a class=\"btn btn-social-icon btn-google-plus\" href=" + ControlerNameInvoice + "/Delete/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Delete')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\"><i class=\"fa fa-bitbucket\"></i></a>";

                    return buttons;
                }

            }, {}, {}, {}, {}, {}, {}, {}, {}
            ]

        });

    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        var oTableRewardUser = "";
        var ControlerNameRewardUser = "@Url.Content("~/RewardUser")";
        // debugger;
        oTableRewardUser = $("#tbRewardUser").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/User/RewardUserGetGrid/" + ViewBag.IsWorking)",
            "aoColumns": [

            {
                "mRender": function (oObj, type, row) {
                    var buttons = "<a class=\"btn btn-social-icon btn-bitbucket\" href=" + ControlerNameRewardUser + "/MultiViewIndex/" + row[0] + "><i class=\"fa fa-edit\"></i></a>"
                    buttons += "<a class=\"btn btn-social-icon btn-dropbox\" href=" + ControlerNameRewardUser + "/Details/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"openModalDialog('SkDetails', 'Details')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-info\"></i></a>";
                    buttons += "<a class=\"btn btn-social-icon btn-google-plus\" href=" + ControlerNameRewardUser + "/Delete/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Delete')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\"><i class=\"fa fa-bitbucket\"></i></a>";

                    return buttons;
                }

            }, {}, {}, {}, {}
            ]

        });

    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        var oTableePinRequest = "";
        var ControlerNameePinRequest = "@Url.Content("~/ePinRequest")";
        // debugger;
        oTableePinRequest = $("#tbePinRequest").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/User/ePinRequestGetGrid/" + ViewBag.IsWorking)",
            "aoColumns": [

            {
                "mRender": function (oObj, type, row) {
                    var buttons = "<a class=\"btn btn-social-icon btn-bitbucket\" href=" + ControlerNameePinRequest + "/MultiViewIndex/" + row[0] + "><i class=\"fa fa-edit\"></i></a>"
                    buttons += "<a class=\"btn btn-social-icon btn-dropbox\" href=" + ControlerNameePinRequest + "/Details/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"openModalDialog('SkDetails', 'Details')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-info\"></i></a>";
                    buttons += "<a class=\"btn btn-social-icon btn-google-plus\" href=" + ControlerNameePinRequest + "/Delete/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Delete')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\"><i class=\"fa fa-bitbucket\"></i></a>";

                    return buttons;
                }

            }, {}, {}, {}, {}, {}, {}, {}
            ]

        });

    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        var oTableDonationRequest = "";
        var ControlerNameDonationRequest = "@Url.Content("~/DonationRequest")";
        // debugger;
        oTableDonationRequest = $("#tbDonationRequest").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/User/DonationRequestGetGrid/" + ViewBag.IsWorking)",
            "aoColumns": [

            {
                "mRender": function (oObj, type, row) {
                    var buttons = "<a class=\"btn btn-social-icon btn-bitbucket\" href=" + ControlerNameDonationRequest + "/MultiViewIndex/" + row[0] + "><i class=\"fa fa-edit\"></i></a>"
                    buttons += "<a class=\"btn btn-social-icon btn-dropbox\" href=" + ControlerNameDonationRequest + "/Details/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"openModalDialog('SkDetails', 'Details')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-info\"></i></a>";
                    buttons += "<a class=\"btn btn-social-icon btn-google-plus\" href=" + ControlerNameDonationRequest + "/Delete/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Delete')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\"><i class=\"fa fa-bitbucket\"></i></a>";

                    return buttons;
                }

            }, {}, {}, {}, {}, {}, {}, {}
            ]

        });

    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        var oTableLedgerAccount = "";
        var ControlerNameLedgerAccount = "@Url.Content("~/LedgerAccount")";
        // debugger;
        oTableLedgerAccount = $("#tbLedgerAccount").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/User/LedgerAccountGetGrid/" + ViewBag.IsWorking)",
            "aoColumns": [

            {
                "mRender": function (oObj, type, row) {
                    var buttons = "<a class=\"btn btn-social-icon btn-bitbucket\" href=" + ControlerNameLedgerAccount + "/MultiViewIndex/" + row[0] + "><i class=\"fa fa-edit\"></i></a>"
                    buttons += "<a class=\"btn btn-social-icon btn-dropbox\" href=" + ControlerNameLedgerAccount + "/Details/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"openModalDialog('SkDetails', 'Details')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-info\"></i></a>";
                    buttons += "<a class=\"btn btn-social-icon btn-google-plus\" href=" + ControlerNameLedgerAccount + "/Delete/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Delete')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\"><i class=\"fa fa-bitbucket\"></i></a>";

                    return buttons;
                }

            }, {}, {}, {}, {}, {}, {}, {}, {}
            ]

        });

    });
</script>
