@model mlmStudio.Models.UserPersonalInfo

@{
    ViewBag.Title = "Details";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
<section class="content-header">
    <h1>
        @ViewBag.Title
        <small>Details</small>
    </h1>
</section>
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">Detail of UserPersonalInfo</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div class="widget-sec">
                        <div class="streaming-table">
                            <table class="table table-striped table-bordered">

                                <tr>
                                    <td>FirstName</td>
                                    <td>@Html.DisplayFor(model => model.FirstName)</td>
                                </tr>
                                <tr>
                                    <td>LastName</td>
                                    <td>@Html.DisplayFor(model => model.LastName)</td>
                                </tr>
                                <tr>
                                    <td>GenderId</td>
                                    <td>@Html.DisplayFor(model => model.GenderId)</td>
                                </tr>
                                <tr>
                                    <td> About</td>
                                    <td>  @Html.Raw(Model.About)</td>
                                </tr>
                                <tr>
                                    <td> &nbsp;</td>
                                    <td> <img src="~/Uploads/@Model.ProfileImage" width="200" /> </td>
                                </tr>
                                <tr>
                                    <td>DateJoin</td>
                                    <td>@Html.DisplayFor(model => model.DateJoin)</td>
                                </tr>
                                <tr>
                                    <td>UserId</td>
                                    <td>@Html.DisplayFor(model => model.UserId)</td>
                                </tr>
                                <tr>
                                    <td>MiddleName</td>
                                    <td>@Html.DisplayFor(model => model.MiddleName)</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>@Html.DisplayFor(model => model.Email)</td>
                                </tr>
                                <tr>
                                    <td>FatherAndSpouseName</td>
                                    <td>@Html.DisplayFor(model => model.FatherAndSpouseName)</td>
                                </tr>
                                <tr>
                                    <td>DOB</td>
                                    <td>@Html.DisplayFor(model => model.DOB)</td>
                                </tr>
                                <tr>
                                    <td>MotherName</td>
                                    <td>@Html.DisplayFor(model => model.MotherName)</td>
                                </tr>
                                <tr>
                                    <td>NomineName</td>
                                    <td>@Html.DisplayFor(model => model.NomineName)</td>
                                </tr>
                                <tr>
                                    <td>CityId</td>
                                    <td>@Html.DisplayFor(model => model.CityId)</td>
                                </tr>
                                <tr>
                                    <td>ZipCode</td>
                                    <td>@Html.DisplayFor(model => model.ZipCode)</td>
                                </tr>
                                <tr>
                                    <td>PanNumber</td>
                                    <td>@Html.DisplayFor(model => model.PanNumber)</td>
                                </tr>
                                <tr>
                                    <td>EducationDetail</td>
                                    <td>@Html.DisplayFor(model => model.EducationDetail)</td>
                                </tr>
                                <tr>
                                    <td>LastEmployeeFirm</td>
                                    <td>@Html.DisplayFor(model => model.LastEmployeeFirm)</td>
                                </tr>
                                <tr>
                                    <td>LastEmployeeYear</td>
                                    <td>@Html.DisplayFor(model => model.LastEmployeeYear)</td>
                                </tr>
                                <tr>
                                    <td>LastEmployeeAnualIncome</td>
                                    <td>@Html.DisplayFor(model => model.LastEmployeeAnualIncome)</td>
                                </tr>
                                <tr>
                                    <td>IsActive</td>
                                    <td>@Html.DisplayFor(model => model.IsActive)</td>
                                </tr>

 
                            </table>
                            <div class="box-footer">
                                @Ajax.ModalDialogActionLink("Edit", "Edit/" + Model.Id, "Edit", "btn btn-primary") 
                                 
                                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



